.pc
    width: 734px
    padding: 24px 32px
    background: #fff
    color: $text
    height: 64vh
    border-radius: 5px
    border: 1px solid #828282
    &-header
        padding: 0 0 22px
    &-body
        max-height: calc(64vh - 110px)
        overflow: auto
        &::-webkit-scrollbar
            width: 5px
        &::-webkit-scrollbar-track
            background: #fff
            border-radius: 10px
        &::-webkit-scrollbar-thumb
            background: $primary-blue
            border-radius: 5px
        &::-webkit-scrollbar-thumb:window-inactive
            background: rgba(#333,.4)
    &-loading,&-empty
        display: flex
        align-items: center
        text-align: center
        height: calc(64vh - 110px)
        justify-content: center
    &-loading
        .anticon
            margin: 0 0 13px
    &-empty
        .anticon
            font-size: 120px



